<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.diagnostics>
    <switches>
      <!--0,1,2,3, and 4 correspond Off, Error, Warning, Info, and Verbose-->
      <add name="MessageLogger.SessionManager" value="Verbose"/>
    </switches>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="LogFileTraceListener" type="System.Diagnostics.TextWriterTraceListener"
             initializeData="log\logtest.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <appSettings>
    <add key="ApplicationCalls.RateLimit" value="60"/>
  </appSettings>
  
</configuration>