@{
    ViewBag.Title = "Message Logger - Application Registration";
}

<h1>Register Application</h1>

<div class="text-center">
    <div class="form-group">
        <label>Display Name:</label>
        <input id="txtDisplayName" />
    </div>
    <button class="btn btn-primary" onclick="registerApplication()">Register</button>
</div>

<script type="text/javascript">
    var registerApplication = function(){
        register("@ViewBag.APIURL", txtDisplayName.value, registerApplicationSuccess)
    }

    var registerApplicationSuccess = function(data){
        sendRequest("/Application/SaveCredentials", "POST", data,
            function(){ alert("Application created"); },
            function(error){
                alert("Error creating application: " + error.error.valueOf());
            });
    }
</script>